<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mvi.sample">

    <application>
        <activity android:name=".SampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>